aenum==3.1.11
aiohttp==3.8.1
aiosignal==1.3.1
appnope==0.1.3
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
awswrangler==2.18.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
boto3==1.26.24
botocore==1.29.24
cachetools==5.3.1
certifi==2022.9.24
charset-normalizer==2.1.1
contourpy==1.0.6
cycler==0.11.0
db-dtypes==1.1.1
debugpy==1.6.4
decorator==5.1.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
fonttools==4.38.0
frozenlist==1.3.3
google==3.0.0
google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
google-cloud==0.34.0
google-cloud-bigquery==3.11.3
google-cloud-bigquery-storage==2.22.0
google-cloud-core==2.3.2
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
gremlinpython==3.6.1
grpcio==1.56.0
grpcio-status==1.56.0
httplib2==0.22.0
idna==3.4
ipykernel==6.17.1
ipython==8.7.0
isodate==0.6.1
jedi==0.18.2
jmespath==1.0.1
jsonpath-ng==1.5.3
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.0
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
multidict==6.0.3
nbformat==5.7.0
nest-asyncio==1.5.6
numpy==1.23.3
oauthlib==3.2.2
openpyxl==3.0.10
opensearch-py==2.0.1
packaging==21.3
pandas==1.5.1
pandas-gbq==0.19.2
parso==0.8.3
patsy==0.5.6
pexpect==4.8.0
pg8000==1.29.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.4
plotly==5.11.0
ply==3.11
progressbar2==4.2.0
prompt-toolkit==3.0.36
proto-plus==1.22.3
protobuf==4.23.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydata-google-auth==1.8.2
Pygments==2.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
python-utils==3.4.5
pytz==2022.6
pyzmq==24.0.1
redshift-connector==2.0.909
requests==2.28.1
requests-aws4auth==1.1.2
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
scipy==1.9.3
scramp==1.4.4
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.6.2
statsmodels==0.14.1
tdqm==0.0.1
tenacity==8.1.0
tornado==6.2
tqdm==4.66.1
traitlets==5.6.0
uritemplate==4.1.1
urllib3==1.26.13
wcwidth==0.2.5
yarl==1.8.2
